<h1>Listing of Menu Items</h1>

<%= render "form" %>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><p><%= menu_item.name %></p></td>
        <td><%= link_to 'Show', menu_item %></td>
        <td><%= link_to 'Edit', edit_menu_item_path(menu_item) %></td>
        <td><%= link_to 'Destroy', menu_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <ul>
          <% menu_item.ingredients.all.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
          </ul>
      </tr>
    <% end %>
  </tbody>
</table>
