<p id="notice"><%= notice %></p>

<h2><strong><%= @menu_item.name.titleize %></strong></h2>
<p>Price:<%= number_to_currency @menu_item.price %></p>
	<h4>Ingredients:</h4>
	<% @ingredients.each do |ingredient| %>
	<li><%= ingredient.name %></li>
<% end %>

<%= link_to 'Edit', edit_menu_item_path(@menu_item) %> |
<%= link_to 'Back', menu_items_path %>
